.solde-total-container {
        height: 400px;
    
    .solde {
        font-size: 3rem;
        font-weight: bold;
    }

    .rounded {
        color: rgb(0, 255, 149);
        font-weight: bold;
    }
}