#assets-table {
    text-align: center;
    width: 100vw;
    font-size: 10pt;
    
    .table-header {
        font-size: 10pt;
        color: rgb(153, 153, 153);
    }
}
.logo-assets {
    width: 20px;
    height: auto;
}