.item-container {
    width: 100%;
    
    .item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 170px;
        overflow-x: visible;
        align-content: flex-start;

        .graphic-element {
            width: 20px;
            height: 3px;
            background-color: rgb(92, 78, 212);
            border-radius: 100px;
            margin-bottom: 20px;
        }

        .text-item {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            font-size: 10pt;
        }
    }

}