body {
    background-color: rgb(31, 30, 30);
    color: white;
}

.info-text {
    font-size: 10pt;
    color: rgb(153, 153, 153);
}

a {
    text-decoration: none;
}

input {
    margin-top: 10px;
    border-radius: 50px;
    height: 35px;
    background-color: rgb(51, 51, 58);
    outline: none;
    border: none;
    color: white;
    font-size: 9pt;
    padding-left: 15px;
}

button {
    border: none;
}
