.repartition-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: space-evenly;

  .repartition-content {
    width: 100%;
    display: flex;
    width: 600px;
    justify-content: space-between;

    .items-preview {
      column-count: 2;
      column-gap: 50px;
    }
  }
}
