.repartition-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: space-evenly;
  
  .repartition-content {
    width: 100%;
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;

    .items-preview {
      column-count: 2;
      column-gap: 10px;
    }
  }
}
